<!DOCTYPE html>
<html>

<head>
    <title>IntersomethingATM</title>

    <!-- font (via google) -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css' />

    <!-- javascript -->
    <script data-main="/main.js" src="/require.js"></script>

    <!-- stylesheet -->
    <link href='/style.css' rel='stylesheet' type='text/css'>
</head>


<body>

    <div class="wrap">
        <div id="entry">
        </div>

        <div id="message">
            Enter Your Account Number
        </div>

        <div id="controls">
            <div class="keypad">
                <div class="keypad-row">
                    <div class="keypad-key">3</div>
                    <div class="keypad-key">2</div>
                    <div class="keypad-key">1</div>
                </div>
                <div class="keypad-row">
                    <div class="keypad-key">6</div>
                    <div class="keypad-key">5</div>
                    <div class="keypad-key">4</div>
                </div>
                <div class="keypad-row">
                    <div class="keypad-key">9</div>
                    <div class="keypad-key">8</div>
                    <div class="keypad-key">7</div>
                </div>
                <div class="keypad-row">
                    <div class="keypad-key">.</div>
                    <div class="keypad-key">0</div>
                </div>
            </div>

            <div class="options">
                <div class="option-key" id="cancel">Cancel</div>
                <div class="option-key option-hidden" id="cash">Cash</div>
                <div class="option-key option-hidden" id="exit">Exit</div>
            </div>
        </div>
    </div>

</body>

</html>
